<div class="menu-container">
	<div class="cloud-logo">
		<img src="{{vm.logoImg}}">
	</div>

	<ul class="nav nav-pills nav-stacked">
		<li role="presentation">
			<a data-toggle="collapse" href="" ng-click="vm.collapse($event)"><span class="glyphicon glyphicon-home"></span>总览</a>
			<div class="sub-menu">
				<ul class="nav sub-nav">
					<li><a href="">Jenkins构建</a></li>
					<li><a href="">Jenkins构建</a></li>
					<li><a href="">Jenkins构建</a></li>
				</ul>
			</div>
		</li>
		<li role="presentation">
			<a data-toggle="collapse" href="" ng-click="vm.collapse($event)"><span class="glyphicon glyphicon-folder-close"></span>容器服务</a>
			<div class="sub-menu">
				<ul class="nav sub-nav">
					<li><a href="">Jenkins构建</a></li>
					<li><a href="">Jenkins构建</a></li>
					<li><a href="">Jenkins构建</a></li>
				</ul>
			</div>
		</li>
		<li role="presentation"><a href=""><span class="glyphicon glyphicon-pencil"></span>代码构建</a></li>
		<li role="presentation"><a href=""><span class="glyphicon glyphicon-duplicate"></span>镜像服务</a></li>
		<li role="presentation"><a href=""><span class="glyphicon glyphicon-tasks"></span>应用编排</a></li>
	</ul>
</div>